/* Estilo cuerpo */
body {
    font-family: 'Helvetica';
    background-color: white;
    color: black;
}

/* Estilo cuerpo */
header {
    font-family: 'Helvetica';
    background-color: black;
    color: white;
}


.img-fluid{
    min-width: 30px;
}


.header-btn, .header-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.6vw + 0.6em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.top-btn, .top-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.6vw + 0.6em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.experiences-btn, .experiences-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.6vw + 0.6em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.plan-btn, .plan-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.6vw + 0.6em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.experiences-btn-selected, .experiences-btn-selected:focus{
    color: black;
    padding: 0%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: white;
    font-size: calc(0.6vw + 0.6em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}


.top-btn-selected, .top-btn-selected:focus{
    color: black;
    padding: 0%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: white;
    font-size: calc(0.6vw + 0.6em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}


.plan-btn-selected, .plan-btn-selected:focus{
    color: black;
    padding: 0%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: white;
    font-size: calc(0.6vw + 0.6em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

#header-bar{
    width: 100%;
    background-color: black;
    border: none;
}


.header-btn, .header-btn:focus{
    padding: 0%;
    width: 12.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 0%;
    border: 0%;
    background-color: black;
    outline: none; 
}

.options-btn-selected, .options-btn-selected:focus{
    display: none;
    padding: 0%;
    width: 12.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 0%;
    border: 0%;
    border-color: black;
    background-color: black;
    outline: none; 
}

.options-div{
    display: none;
    margin-top: -0.5%;
    background-color: black;
    position: absolute;
    width: 40%;
    height: 100%;
    border-bottom-right-radius: calc(0.6vw + 0.6em);
    border: none;
}