/* Estilo cuerpo */
body {
    font-family: 'Helvetica';
    background-color: white;
    color: black;
}

/* Estilo cuerpo */
header {
    font-family: 'Helvetica';
    background-color: black;
    color: white;
}


.img-fluid{
    min-width: 30px;
}


.header-btn, .header-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.7vw + 0.7em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.top-btn, .top-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.7vw + 0.7em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.experiences-btn, .experiences-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.7vw + 0.7em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.plan-btn, .plan-btn:focus{
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: black;
    font-size: calc(0.7vw + 0.7em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

.experiences-btn-selected, .experiences-btn-selected:focus{
    color: black;
    padding: 0%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: white;
    font-size: calc(0.7vw + 0.7em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}


.top-btn-selected, .top-btn-selected:focus{
    color: black;
    padding: 0%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: white;
    font-size: calc(0.7vw + 0.7em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}


.plan-btn-selected, .plan-btn-selected:focus{
    color: black;
    padding: 0%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30%;
    background-color: white;
    font-size: calc(0.7vw + 0.7em);
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    outline: none; 
}

#header-bar{
    width: 100vw;
    background-color: black;
    border: none;
}


.header-btn, .header-btn:focus{
    padding: 0%;
    width: 12.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 0%;
    border: none;
    background-color: black;
    outline: none; 
}

.options-btn-selected, .options-btn-selected:focus{
    display: none;
    padding: 0%;
    width: 12.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 0%;
    border: none;
    border-color: black;
    background-color: black;
    outline: none; 
}

.options-div{
    display: none;
    margin-top: -0.5%;
    background-color: black;
    position: absolute;
    width: 0%;
    height: 120vh;
    border-bottom-right-radius: calc(0.6vw + 0.6em);
    border: none;
    z-index: 1;
}

.edit-btn, .edit-btn:focus{
    padding: 0%;
    width: 12.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
    border: none;
    background-color: white;
    outline: none; 
}

.edit-icon {
    width: calc(0.8vw + 0.8em);;
}

/* Separadores */
.solid{
    color: black;
    margin-top: 3vw;
    margin-bottom: 1vw;
    border-color: darkgray;
    border-width: 0.2vh;
    width: 30vw;
}

.sections-separator{
    color: black;
    margin-top: 7vw;
    margin-bottom: 5vw;
    border-color: black;
    border-width: 0.2vh;
    width: 80vw;
    border-radius: calc(0.6vw + 0.6em);
}


.experiences-info-separator{
    color: white;
    border-color: white;
    text-align: left;
    align-self: start;
    border-width: 0.2vh;
    margin-top: calc(1vh+2vw);
    width: 16vw;
    border-radius: calc(0.6vw + 0.6em);
}


.rounded-circle {
    margin: auto;
    position: relative;    
    
}

.rounded-circle-experiences {
    padding: 3%;
    background-color: black;
    margin: auto;
    position: relative;    
    border-radius: calc(0.6vw + 0.6em);
    width: (6vw + 3vh);
    height: calc(5vh + 6vw);
}

.userImage-experiences{
    background-color: black;
}

.close-simbols, .close-simbols:focus{
    font-size: calc(1vw + 1em);
    color: white;
    width: 10%;
    background-color: black;
    border: none;
    outline: none;
}

.standard-btn, .standard-btn:focus{
    font-size: calc(1.2vw + 1.2em);
    color: white;
    width: 30vw;
    background-color: black;
    border: none;
    outline: none;
}

#filterExperiences-btn, #filterExperiences-btn:focus{
    display: inline-block;
    color: white;
    padding: 0.7%;
    border-radius: calc(0.6vw + 0.6em);
    width: 15vw;
    background-color: black;
    font-size: calc(0.6vw + 0.6em);
    border: none;
    outline: none; 
    margin: 0%;
}



.options-text {
    font-family: 'Helvetica';
    color: white;
    font-size: calc(0.55vw + 0.55em);
    text-align: center;
}

#close-options-btn {
    display: none;
}

.changeInfo-btn, .changeInfo-btn:focus{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: calc(0.6vw + 0.6em);
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 5%;
}

.terms-btn, .terms-btn:focus{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: calc(0.6vw + 0.6em);
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 10vh;
}

.logIn-btn, .logIn-btn:focus{
    display: none;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: calc(0.65vw + 0.65em);
    margin-left: 5%;
    color: black;
    background-color: transparent;
    text-align: left;
    border: none;
    outline: none;
}

#signLog-div{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
    width: 60%;
}

.signLog-text{
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.65vw + 0.65em);
    width: 30%;
    margin-left: 1%;
    color: black;
    background-color: transparent;
    text-align: left;
    border: none;
    outline: none;
}

#signUp-form{
    width: 60vw;
    border-radius: calc(0.6vw + 0.6vh);
    background-color: white;
    margin-left: 20vw;
    margin-top: 8%;
    position: absolute;
    display: none;
    align-items: center;
    text-align: center;
    z-index: 5;
}


#changeInfo-form{
    width: 60vw;
    border-radius: calc(0.6vw + 0.6vh);
    background-color: white;
    margin-left: 20vw;
    margin-top: 8%;
    position: absolute;
    display: none;
    align-items: center;
    text-align: center;
    z-index: 5;
}


.form-text{
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.65vw + 0.65em);
    color: black;
    background-color: transparent;
    text-align: center;
    border: none;
    outline: none;
}

#keywords {
    margin-top: -0.6vh;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.6vw + 0.6em);
    color: black;
    width: 50vw;
    height: calc(2.3vh + 1.3vw);
    background-color: transparent;
    border: 0.2vh solid black;
    border-radius: calc(0.6vw + 0.6vh);
    text-align: center;
    outline-offset: 0px;
    outline: none;
}

#keywords:focus{
    margin-top: -0.6vh;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.75vw + 0.75em);
    color: black;
    width: 50vw;
    height: calc(2.5vh + 1.5vw);
    background-color: transparent;
    border: 0.3vh solid black;
    border-radius: calc(0.6vw + 0.6vh);
    text-align: center;
    outline-offset: 0px;
    outline: none;
}

.form-input {
    margin-top: -0.6vh;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.6vw + 0.6em);
    color: black;
    width: 30vw;
    height: calc(4vh + 2vw);
    background-color: transparent;
    border: 0.3vh solid black;
    border-radius: calc(0.6vw + 0.6vh);
    text-align: center;
    outline-offset: 0px;
    outline: none;
}

.form-input:focus{
    margin-top: -0.6vh;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.7vw + 0.7em);
    color: black;
    width: 30vw;
    background-color: transparent;
    border: 0.4vh solid black;
    border-radius: calc(0.6vw + 0.6vh);
    text-align: center;
    outline-offset: 0px;
    outline: none;
}

#loadedImage{
    display: none;
}

#change-loadedImage{
    display: none;
}

#userProfileImage{
    display: none;
}

#change-userProfileImage{
    display: none;
}

.change-Id-form{
    display: none;
}

#searchSection{
    margin-top: calc(7vh + 7vw);
}


.titles{
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.80vw + 0.8em);
    margin-top: calc(4vh + 2vw);
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

.titles-white{
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
    margin-top: calc(1.8vh + 0.8vw);
    font-size: calc(1.2vw + 0.6vh);
    color: white;
    padding: 0%;
    background-color: transparent;
    border: none;
    outline: none;
}

.titles-experiences-white{
    text-align: center;
    font-family: 'Helvetica';
    margin-top: calc(1.6vh + 0.7vw);
    font-size: calc(0.8vw + 0.7vh);
    color: white;
    padding: 0%;
    background-color: transparent;
    border: none;
    outline: none;
}

.subtitles-experiences-white-aux{
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
    margin-top: calc(0.6vh + 0.3vw);
    font-size: calc(0.6vw + 0.5vh);
    margin-bottom: calc(3vh + 6vw);
    color: white;
    padding: 0%;
    background-color: transparent;
    border: none;
    outline: none;
}

.text-experiences-info-white{
    text-align: left;
    font-family: 'Helvetica';
    font-weight: lighter;
    margin-top: calc(0.6vh + 0.3vw);
    margin-left: 2vw;
    font-size: calc(0.6vw + 0.5vh);
    color: white;
    padding: 0%;
    background-color: transparent;
    border: none;
    outline: none;
}

.experiences-text-min{
    text-align: center;
    font-size: calc(0.55vw + 0.55vw);
    color: white;
    margin-left: 3.5vw;
    margin-top: 4.5vw;
    width: 8;
}

.userInfo-text-white{
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(1vw + 0.5vh);
    width: 100%;
    color: white;
    background-color: transparent;
    padding: 0%;
    margin-top: calc(-0.6vh + -0.2vw);
    border: none;
    outline: none;
}

.subTitles{
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: calc(0.75vw + 0.75em);
    margin-top: calc(1vh + 1vw);
    padding-bottom: 4%;
    width: 100%;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

.subTitles-white{
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
    text-decoration: underline solid white 2px;
    font-size: calc(0.75vw + 0.75em);
    margin-top: calc(1vh + 1vw);
    padding-bottom: 4%;
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

#logIn-form{
    position: absolute;
    display: none;
    width: 50vw;
    border-radius: calc(0.6vw + 0.6vh);
    background-color: white;
    margin-left: 25vw;
    margin-top: 8%;
    z-index: 5;
    align-items: center;
    text-align: center;
}

.close-simbols-white, .close-simbols-white:focus{
    font-size: calc(1vw + 1em);
    color: black;
    width: 10%;
    background-color: white;
    border: none;
    outline: none;
}

#auxDiv-popUp {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 300vh;
    z-index: 4;
}

.termsText {
    font-family: 'Helvetica';
    font-size: calc(0.55vw + 0.55em);
}

.standard-btn, .standard-btn:focus{
    display: inline-block;
    color: white;
    padding: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30vw;
    background-color: black;
    font-size: calc(0.7vw + 0.7em);
    border: none;
    outline: none; 
    margin: 0%;
}

.add-btn, .add-btn:focus{
    display: inline-block;
    color: white;
    padding: 1%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30vw;
    background-color: black;
    font-size: calc(0.6vw + 0.6em);
    border: none;
    outline: none; 
    margin: 0%;
}

.add-icon{
    background-color: black;
    width: calc(1.5vw + 1.5vh);
    margin-right: 2vw;
}


.selectImage-btn, .selectImage-btn:focus{
    display: inline-block;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30vw;
    background-color: #778899;
    font-size: calc(0.7vw + 0.7em);
    margin: 0%;
    border: none;
    outline: none; 
}


.change-selectImage-btn, .change-selectImage-btn:focus{
    display: inline-block;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: calc(0.6vw + 0.6em);
    width: 30vw;
    background-color: #778899;
    font-size: calc(0.7vw + 0.7em);
    margin: 0%;
    border: none;
    outline: none; 
}

.signUp-btn, .signUp-btn:focus{
    color: black;
    font-style: bold;
    text-decoration: underline solid 2px;
    background-color: white;
    font-size: calc(0.6vw + 0.6em);
    padding-bottom: 3%;
    border: none;
    outline: none;    
}

.logIn-secondary-btn, .logIn-secondary-btn:focus{
    color: white;
    font-style: bold;
    margin-right: 3vw;
    margin-left: 3vw;
    text-decoration: underline solid 2px;
    background-color: transparent;
    font-size: calc(0.6vw + 0.6em);
    padding-bottom: 3%;
    border: none;
    outline: none;    
}

.messages{
    position: fixed;
    display: none;
    margin-top: -3%;
    width: 50vw;
    border-radius: calc(0.6vw + 0.6vh);
    background-color: white;
    margin-left: 25vw;
    z-index: 5;
    align-items: center;
    text-align: center;   
}

#logOut-btn {
    display: none;
}

#secondary-options-div{
    display: none;
}


#secondary-options-unregistered-div{
    display: none;
}

#registryRequired {
    margin-top: 20vh;
}

.terms-unregistered-btn, .terms-unregistered-btn:focus{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: calc(0.65vw + 0.65em);
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 20vh;
}


/* Formato de los errores de validacion */
span.error{
    margin-top: 4vh;
    color: red; 
    font-size: 0.7em; 
}


/* 
 /////////////////////////// EXPERIENCIAS /////////////////// */

.crop_square_collections, .crop_square_collections:focus {
    background: black;
    width: 20vw;
    height: 10vw;
    overflow: hidden;
    color: white;
    border-radius: calc(0.6vw + 0.6vh);
    border: 0;
    outline: none;  
}

.collections-images {
    padding: 0;
    margin: 0;
    display: block;
    height: 12vw;
    width: 11vw;
    margin-top: -1vh;
    border-radius: calc(0.6vw + 0.6vh);
    border: 0;
    outline: none; 
}


.add_collection {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2%;
    margin-bottom:5%;
    cursor: pointer;
}


/*****Usuario****/
.square {
    width: 10vw;
    height: 10vw;
    background: black;
    border-radius: calc(0.6vw + 0.6vh);
    overflow: hidden;
}

.user_rectangle {
    width: 30vw;
    height: calc(5vh + 6vw);
    background: black;
    color: white;
    border-radius: calc(0.6vw + 0.6vh);
    overflow: hidden;
}

.profile_photo {
    text-align: center;
    object-fit: cover;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
}

/* Texto single experiencia */
.texto_single_experience {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.img_single_experience {
    width: 150%;
    margin-top: 5%;
    margin-left: 10%;
}



.experiences-text-aux{
    font-size: calc(0.55vw + 0.55vw);
    color: white;
    margin-top: 4.5vw;
    width: 8;
}

.experiences-options-btn {
    width: 7vw;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: black;
    border-radius: calc(0.6vw + 0.6vh);
    height: calc(10vh+20vw);
}


.myprofile-experiences-info {
    width: 20vw;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: calc(0.6vw + 0.6vh);
    background-color: black;
    height: calc(10vh+20vw);
}

.myprofile-experiences-image {
    width: 50vw;
    border-radius: calc(0.6vw + 0.6vh);
    height: calc(10vh+40vw);
}


/* Cambio del estilo de los inputs en los distintos navegadores */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: grey;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: grey;
   text-align: center;
   font-family: 'Helvetica';
   font-weight: lighter;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: grey;
   text-align: center;
   font-family: 'Helvetica';
   font-weight: lighter;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: grey;
   text-align: center;
   font-family: 'Helvetica';
   font-weight: lighter;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: grey;
   text-align: center;
   font-family: 'Helvetica';
   font-weight: lighter;
}

::placeholder { /* General. */
   color: grey;
   text-align: center;
   font-family: 'Helvetica';
   font-weight: lighter;
}

